:root {
  --mainGray: #c0c0c0;
  --bloodOrange: #d1001c;
  --lightOrange: #ffd7b5;
  --mainGreen: #2c493f;
  --mainOrange: #f6653c;
  --mainViolet: #cf5fd7;
  --secondBlue: #005aff;
  --thirdBlue: #1974d2;
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

body {
  font-family: "Oswald", san-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.vh-70 {
  min-height: 70vh;
}
.vh-50 {
  min-height: 50vh;
}

.text-title {
  font-family: "Oswald", san-serif !important;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue {
  color: var(--mainBlue);
}
.text-bright {
  color: var(--lightBlue);
}
.bg-darkblue {
  background: var(--mainBlue);
}
.text-dark {
  color: var(--mainDark) !important;
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}
.row {
  margin: 0 !important;
}
.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--bloodOrange);
}
.wish-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainBlue) !important;
}
.payment-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--lightBlue) !important;
  border: 0.1rem solid var(--lightBlue) !important;
}
.payment-icon:hover {
  color: var(--mainBlue) !important;
  background: var(--lightBlue) !important;
  transition: all 0.5s ease-in-out;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/** TACHYONS **/
.cover {
  background-size: cover !important;
}

.bg-center {
  background-repeat: no-repeat;
  background-position: center center;
}

.br2 {
  border-radius: 0.25rem;
}

.dib {
  display: inline-block;
}

.inline-flex {
  display: inline-flex;
}

.items-center {
  align-items: center;
}

.h2 {
  height: 2rem;
}

.link {
  text-decoration: none;
  transition: color 0.15s ease-in;
}

.link:link,
.link:visited {
  transition: color 0.15s ease-in;
}

.link:hover {
  transition: color 0.15s ease-in;
}

.link:active {
  transition: color 0.15s ease-in;
}

.link:focus {
  transition: color 0.15s ease-in;
  outline: 1px dotted currentColor;
}

.w2 {
  width: 2rem;
}

.w-100 {
  width: 100%;
}

.white-60 {
  color: rgba(255, 255, 255, 0.8);
}

.bg-black-80 {
  background-color: var(--bloodOrange);
}

.bg-black {
  background-color: rgba(0, 0, 0);
}

.bg-transparent {
  background-color: transparent;
}

.hover-white:hover {
  color: #fff;
}

.hover-white:focus {
  color: #fff;
}

.pa2 {
  padding: 0.5rem;
}

.pr2 {
  padding-right: 0.5rem;
}

.pv5 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.ph3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.ma2 {
  margin: 0.5rem;
}

.ml3 {
  margin-left: 1rem;
}

.tc {
  text-align: center;
}

.f6 {
  font-size: 0.875rem;
}

@media screen and (min-width: 60em) {
  .tc-l {
    text-align: center;
  }
}
